@tailwind utilities;

body {
  @apply bg-white text-black;
}

@layer utilities {
  .highlight {
    animation: highlightFlash 0.5s ease-in-out;
  }

  @keyframes highlightFlash {
    0% {
      background-color: #facc15;
    }
    100% {
      background-color: #1f2937;
    }
  }
}
